mixin header()
  header.header(data-aos="fade-down"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1500")
    .header__warning
      .header__warning-labels
        svg(xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none")
          circle(cx="3" cy="3" r="3" fill="#50380B")
        svg(xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none")
          circle(cx="3" cy="3" r="3" fill="#50380B")
        svg(xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none")
          circle(cx="3" cy="3" r="3" fill="#50380B")
        svg(xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none")
          circle(cx="3" cy="3" r="3" fill="#50380B")
      .header__warning-text
        p Бесплатная доставка при заказе от 50 000 ₽ по Москве и МО
        button.header__warning-close
          img(src=require("../../icons/x.svg") alt="close-icon")
      .header__warning-labels
        svg(xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none")
          circle(cx="3" cy="3" r="3" fill="#50380B")
        svg(xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none")
          circle(cx="3" cy="3" r="3" fill="#50380B")
        svg(xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none")
          circle(cx="3" cy="3" r="3" fill="#50380B")
        svg(xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none")
          circle(cx="3" cy="3" r="3" fill="#50380B")
    .header__body
      a.header__logo
        img(src=require("../../icons/logo.svg") alt="logo")
      nav
        .nav__wrp
          button.burger__close
            img(src=require("../../icons/x-white.svg") alt="logo")
          button.js-button.js-advantages Преимущества
          button.js-button.js-services Услуги
          button.js-button.js-steps Этапы работы
          //button.js-button.js-calc Калькулятор
          button.js-button.js-cases Кейсы
          button.js-button.js-about О компании
          button.js-button.js-faq FAQ
        button.btn__orange Оставить заявку
          svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
            g(id="arrow")
              path(id="Vector" d="M17.4924 2.50754L2.5 17.5M16.6086 15.7658C15.9539 15.1112 15.6237 13.4849 15.4571 12.0077C15.2427 10.1058 15.3254 8.1735 15.7751 6.31228C16.1119 4.91861 16.6553 3.35966 17.4999 2.515M4.23421 3.39142C4.88883 4.04604 6.51507 4.37627 7.99232 4.54286C9.89427 4.75734 11.8265 4.67464 13.6877 4.22487C15.0814 3.88809 16.6404 3.34472 17.485 2.50006" stroke="white" stroke-width="2")
      .header__body-wrp
        a.header__call(href="tel:+790032323233")
          span 8 900 323 232 33
          img(src=require("../../icons/phone.svg") alt="phone")
        button.header__burger-btn Меню
          img(src=require("../../icons/burger.svg") alt="logo")





